body
{
	width: 100%;
	background: url("../assets/img_background.jpg") center center no-repeat;
	background-size: contain;
}
input,
select,
textarea
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}
label
{
	display: block;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
}
legend
{
	margin-bottom: 30px;
	padding-top:20px;
	text-align: center;
}
#btn-submit
{
	margin: 10px auto;
	width: 75px;
}
#crypto-box
{
	background-color: #DDDDDD;
	border: 2px solid #000000;
	margin: 50px auto;
	opacity: 0.85;
	width: 25%;
}
#output
{
	display: none;
}
.encryp-opt
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}